*{
	margin:0px;
	padding:0px;
}
.container{
	min-height:600px;
	margin:20px auto;
	width:85%;background:#ddd;
}
.img-area{
	min-height:600px;
	
}
.picture{
    min-height:100%;
    width:100%;
 	background-image:url('../images/img1.jpg');
 	background-size:100% 100%;
}
.form-rgba{
	min-height:100%;
	width:100%;
	background:rgba(100, 149, 237,.5);
}
.form-area{
	min-height: 600px;
	padding:35px;
	background:#ddd;
}
.form-group{

}

