
*{
    margin:0px;
    padding:0px;
    font-size:14px;
    font-family:calibri;
}

.icons{
    font-size:30px;
}

.side-bar{
    min-height:550px;
    border-right:1px solid #dee1e6;
    text-align:center;
    padding:20px auto;
}
.pt-reg{
    min-height:50px;
    border-bottom:1px solid #dee1e6;
}
.pt-left-area{
    min-height:50px;
    border-right:1px solid #dee1e6;
}
@media screen and (max-width :588px){
  .pt-left-area{border-bottom:1px solid #dee1e6;}  
}
.side-bar-icons{
    font-size:20px;
    color:#7c7c7c;
    padding:10px 28px;
}
.pt-right-area{
    min-height:50px;
    font-size:19px;
    color:#7c7c7c;
    padding:10px 27px;
    font-weight: bold;

}
.icons-area{
    min-height:500px;
}
.left-icons-area{
    min-height:500px;
    border-right:1px solid #dee1e6;
}
@media screen and (max-width : 588px){
  .left-icons-area{
    min-height:100px;
    padding-top:14px;
}
  
}
.side-bar-icons{
    font-size:35px;
    padding-top:5px;
    padding-left:5px;
}
.form-area{
    min-height:400px;
}
.stages{
    min-height:65px;
    padding-top:27px;
    padding-bottom: 10px;
    margin-bottom:10px;
    margin-top:5px;
}
.stages-part{
    min-height:65px;
}
.stages span{
    padding:13px;
    color:#dee1e6;
    text-align:center;
    border-radius:100%;
    font-size:20px;
    border:1px solid #dee1e6;
}
.active{background:blue;}
.start{
    color:red;
    font-size:14px;
}
.middile-form-part{
    min-height:500px;
}
.form-part1{
    min-height:500px;
    padding-bottom:20px;
}
.side-search-bar{
    min-height:500px;
    border-top:1px solid #dee1e6;
    border-left:1px solid #dee1e6;
}
.top-form{
    min-height:270px;
    border-bottom:1px solid #dee1e6;
}
.user-icon{
    min-height:270px;
    margin-top:0px
    padding-top:0px;
}
.bottom-form{
    min-height:250px;
    padding-top:18px;
}
.search{
    min-height:50px;
    background:#f7f7f7;
    border-bottom:1px solid #dee1e6;
    line-height:50px;
    padding-left:15px;
 
}
@media screen and (max-width :588px){
  .user-icon{
    min-height:100px;
    }
}
.txt-area{
    min-height:45px;
}
.error{
    color:red;
	font-weight:bold;
}
.spn-errors{
    color:red;
	font-weight:bold;
}