*{
	margin: 0px;
	padding: 0px;
}
.top-header{
	min-height: 70px;
	background: blue;
}
.header-title{
	min-height: 70px;
	color: white;
	font-weight: bold;
	line-height: 70px;
	font-size: 26px;
	padding-left: 28px;
}
.header-right{
	min-height: 70px;
	color: white;
	font-weight: bold;
	line-height: 70px;
	font-size: 26px;
	padding-left: 18%;
}

.header-center{
	min-height: 70px;
	color: white;
}
.outer{
	min-height: 550px;
}
.body-part{
	min-height: 550px;
}
.link{
	min-height: 30px;
	padding-left: 10%;
	padding-top: 3px;
	line-height: 30px;
}
.link a{color: white;}
.link:hover{background: #ddd;color: blue;}
.link a:hover{
	color: blue;
}
.left-menu-area{
	min-height: 550px;
	background: black;
	color: white;
	border-right: 1px solid gray;
}
.right-content-area{
	min-height: 550px;
	background: #ddd;
}
.message-area{
	min-height: 70px;
}
.dashboard-body-area{
	min-height: 480px;
	padding-left: 19%;
}
.footer{
	min-height: 120px;
	background: black;
	margin-top: 15px;
}