*{
	margin: 0px;
	padding: 0px;
}
.body-part{
			min-height: 200px;
			font-size: 17px;
			font-family: calibri;
			padding:10% 29%;
}
.first-section{
	min-height: 200px;
}
.footer{
	min-height: 70px;
	background: black;
	color: white;
}
.left-footer,.right-footer{
	min-height: 70px;
}

//signup form css
.signup-form-part{
	min-height: 400px;
	margin: 5% 0px;
}

//Login Form Css
.login-form-area{
	min-height: 250px;
}
.login-area{
	min-height: 200px;
	border: 1px solid #ddd;
}
