*{
	margin: 0px;
	padding: 0px;
}
.container-fluid{
			min-height: 500px;
			font-size: 17px;
			font-family: calibri;
}
.emp_form{
	min-height: 450px;
	margin: 20px 10px;
	border: 10px solid #ddd;
	border-radius: 10px;
	padding: 16px;
}
.emp_form p{
	text-shadow: 3px 3px 2px orange;
	font-size: 30px;
	font-family: Bold Oblique;
}
.emp_form p:first-letter{
	font-size: 40px;
	font-family: Ink Free;
}
.start-color{
	color: red;
}
.form-group textarea{
	resize: none;
	height: 100px;
}
.footer{
	min-height: 200px;
	background: black;
	color: white;
}
.left-footer,.right-footer{
	min-height: 100px;
}
.body-section{
	min-height: 400px;
	background: #ddd;
	margin: 20px 0px;
}	
.trash-icon{
	color: red;
}
.pagination-area{
   min-height: 70px;
   text-align: center;
   margin-left: 14%;
   padding-left: 6%;
   padding-top: 10px;
}

