
*{
    margin:0px;
    padding:0px;
}

.picture{
    min-height:100%;
    width:100%;
    background-image:url('../images/img1.jpg');
    background-size:100% 100%;
}
.form-rgba{
    min-height:100%;
    background:rgba(100, 149, 237,.5);
    }
.form-area{
    min-height: 600px;
    padding:35px;
    background:#ddd;
}

.nav-link{
    		font-size:22px;
    		font-family:calibri;
    		color:white;
    	}
    	.nav-item:hover{
    		color:orange;
    		border-bottom:3px solid orange;
    	}
    	