
*{
    margin:0px;
    padding:0px;
    font-size:16px;
    font-family:calibri;
}

.icons{
    font-size:30px;
}
.body-part{
    min-height:550px;
}
.sidebar-icons{
    min-height:550px;
    border-right:1px solid #dee1e6;
}
.form-area{
    min-height:550px;
}
.icons-area{
    min-height:40px;
}
.icons-area i{
    font-size:24px;
}
.patient-area{
    min-height:60px;
    border-bottom:1px solid #dee1e6;
    padding-left:10px;
    line-height:60px;
    font-size:18px;
}
.p-left{
    min-height:60px;
}
.cross-area{
    min-height:60px;
    font-size:20px;
    padding-left:13%;
}
@media screen and (max-width : 588px){
    .cross-area{
        display:none;
    }

    .p-left{
    min-height:60px;
    display:block;

}
.sidebar-icons{
    display:none;
}

}
.stages{
    min-height:65px;
    padding-top:27px;
    padding-bottom: 10px;
    margin-bottom:10px;
    margin-top:5px;
}
.stages-part{
    min-height:65px;
}
.stages span{
    padding:13px;
    color:#dee1e6;
    text-align:center;
    border-radius:100%;
    font-size:20px;
    border:1px solid #dee1e6;
}
.active{background:blue;}
.start{
    color:red;
    font-size:14px;
}
.middile-form-part{
    min-height:500px;
}

}
.form-part1{
    min-height:500px;
    padding-bottom:20px;
}
.side-search-bar{
    min-height:500px;
    border-top:1px solid #dee1e6;
    border-left:1px solid #dee1e6;
}
.top-form{
    min-height:270px;
    border-bottom:1px solid #dee1e6;
}
.user-icon{
    min-height:270px;
    margin-top:0px
    padding-top:0px;
}
.bottom-form{
    min-height:250px;
    padding-top:18px;
}
.search{
    min-height:50px;
    background:#f7f7f7;
    border-bottom:1px solid #dee1e6;
    line-height:50px;
    padding-left:15px;
 
}
@media screen and (max-width :588px){
  .user-icon{
    min-height:100px;
    }
}
.txt-area{
    min-height:45px;
}
.error{
    color:red;
	font-weight:bold;
}


