*{
	margin: 0px;
	padding: 0px;
}
.container{
	min-height: 500px;
	font-family: calibri;
	font-size: 16px;
	padding: 3% 20%;
	margin-top: 3%;
}
.reg-txt{
	min-height: 60px;
	font-family: Lucida Calligraphy;
	font-size: 35px;
	text-shadow: 3px 3px 4px #469eff;
}
.form-area{
		min-height: 400px;
		font-size: 19px;
}
::placeholder{
	font-style: italic;
	font-family: Courier;

}	
input[type="text"]{
   text-transform: capitalize;
}
.spn-error{
	color: red;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}