@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" screen;
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css") screen;

.logo
{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
 ul li
 {
     list-style: none;
     cursor: pointer;
 }
 .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 3px 10px;
    max-height: 71px;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  
  .header-right {
    float: right;
  }
 .side{
     max-width: 50px;
     min-width: 50px;
     float: left;
     max-height: 600px;
 }
 .main{
     max-width: calc(100% - 70px);
     min-width: calc(100% - 70px);
     float: left;
 }
 .fa
 {
     color:#F3F0F1;
     font-size: 1.5rem;
    
 }
 .fa-bell-o,.fa-windows
 {
     font-size: 1.2rem;
 }
 .fa-user-circle-o
 {
     font-size: 2rem;
 }
 .sidebar ul 
 {
     padding-left: 0px;
 }
 .sidebar-icon
 {
    color:#F3F0F1;
     font-size: 25px;
     font-weight: 400;
     padding-top: 10px;
 }
 .main .head-label
 {
     font-family: -webkit-pictograph;
     font-size: 1.5rem;
 }
 .process-no
 {
    max-height: 4rem !important; 
 }
.process-line
{
    height: 0.1rem;
    background-color:silver;
}
.process-text
{
    font-size: 1rem;
}

.profile-img
{
    
    max-height:8rem;
    border-radius: 50%;
}
.custom-text
{
    color: cadetblue;
    font-size: 1.2rem;
}

.navbar
{
    margin-bottom: 0px;
    display: block !important;
}
.process-circle
{
   max-height: 100% !important;
   max-width: 100% !important;
}
.header{
    display: none !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 500px){
    html{
        font-size:10px;
    }
    .sidebar-icon
 {
    
     font-size:1em;
     
 }
 .navbar-nav li{
     font-size: 1.5rem;
     
 }
 .navbar-nav li i{
    padding-left: 0px !important;
    padding-right: 0px !important;
    
}
 .navbar-nav
 {
     display: block;
     margin-top: 4rem;
 }
 .fa-bell-o,.fa-windows
 {
     font-size: 1rem;
 }
 .fa-user-circle-o
 {
     font-size: 2rem;
 }
 
 .mt-5{
     margin-top: 4.5rem;
 }
 .fa
 {
     /* color:#F3F0F1; */
     font-size: 2rem;
     /* font-weight: 400; */
 }
 .header
 {
     display: none !important;
 }
 
}
@media (min-width: 426px) and (max-width: 768px)
{
    .navbar
{
    margin-bottom: 0px;
    display: none !important;
}
.header
{
    display: block !important;
}
    
        
}